In [1]:
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Training and testing data loading

train_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/titanic_data/titanic_train.csv')
test_df  = pd.read_csv('/content/drive/My Drive/Colab Notebooks/titanic_data/titanic_test.csv')

In [3]:
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

**PassengerId, Ticket and cabin** feature can be dropped immediately as they seem irrelevant to chance of survival.

**Pclass and Fare** feature shows how wealthy is someone and have correlation to survival chance as richer have higher chances.

Woman and children have higher chance of survival so **Sex and Age** features are correlated to survival.

**SibSp, Parch and Embarked** features are yet to be determined are they correlated to survival.

**Name** feature on the first hand may seem irrelevant, however there are some tokens such as Mr or Miss, etc. that repeats a lot of time and may be correlated to survival so we will leave them for now.

In [4]:
# Dropping irrelevant features

train_df = train_df.drop(['PassengerId', 'Ticket', 'Cabin'], axis=1)

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Fare      891 non-null    float64
 8   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

**Age and Embarked** features contain missing values, so we are going to fill them in. Embarked feature missing only 2 values and may seem less important correlation to survival so we are going to fill NaN with most frequent value.

Since Age feature missing a lot of values it could be filled with either median value or random value between median and std or with median value for Sex and Pclass features only since they seem most correlated with Age while others have little to no correlation with Age.

In [ ]:
# filling Embarked NaN

train_df['Embarked'] = train_df['Embarked'].fillna(train_df['Embarked'].describe()[2])

# filling Age NaN

age_median_values = train_df[['Sex','Pclass','Age']].groupby(['Sex','Pclass'], as_index=False).median()

In [40]:
age_median_values = train_df[['Sex','Pclass','Age']].groupby(['Sex','Pclass'], as_index=False).median()

# age_median_values
# train_df[(train_df.Age.isnull())]

# we are going to iterate over dataset and for each NaN in Age column replace it with value from age_median_values

for i in range(0,2):
  for j in range(0,3):

age_median_values[(age_median_values.Sex == 'male') & (age_median_values.Pclass == 1)]

    Sex  Pclass   Age
3  male       1  40.0